# env / secrets
.env
*.env
temp_keys.txt

# python
__pycache__/
*.pyc

# editor
.vscode/
mint_license.py

# Ignore Build Artifacts (Don't push the Installer)
build/
dist/
*.spec

# Ignore Environment Variables (Security)
.env

# Ignore Python Cache
__pycache__/
*.pyc